/**
 * Copyright (C) 2016. No part of this file may be replicated without the
 *   explicit written consent of all authors of this project.
 */
 
.bootstrap-switch { height: 2em }

.sidebar-outer {
    position: relative;
}
@media (min-width: 992px) {
    .sidebar {
        position: fixed;
    }
}