<html ng-app="formApp">
<head>
    <title>Form Prototype</title>
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.css">

    <link rel="stylesheet" href="form-style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="student-form.js"></script>
</head>
<body ng-controller="FormController as form">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button> <a class="navbar-brand" href="#">Literacy Volunteers of Massachusetts</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search" />
                                </div>
                                <button type="submit" class="btn btn-default">
                                    Submit
                                </button>
                            </form>
                        </li>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <a href="#">Admin Portal</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <h2>New Student Form</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 sidebar-outer">
                    <div class="sidebar">
                        <ul class="nav nav-stacked nav-pills">
                            <!-- Section Names -->
                            <li ng-repeat="section in form.formDefinition">
                                <a ng-href="{{'#' + section.id}}">{{section.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <form role="form">

                        <div class="form-group" ng-repeat="section in form.formDefinition" id="{{section.id}}">
                            <hr/>
                            <div class="row" ng-repeat="row in section.fields">
                                <div class="{{field.class || 'col-md-12'}}" ng-repeat="field in row">
                                    <label for="{{field.name}}">
                                        {{field.placeholder}}
                                    </label>

                                    <div ng-switch="field.type">
                                        <!-- Boolean (Yes/No) -->
                                        <input ng-switch-when="boolean" type="checkbox" name="boolean-checkbox">

                                        <!-- Dropdown with customizable options -->
                                        <select ng-switch-when="dropdown" class="dropdown btn btn-default dropdown-toggle">
                                            <option value="" disabled>{{field.placeholder}}</option>
                                            <option ng-repeat="option in field.options" ng-value="{{option}}">{{option}}</option>
                                        </select>

                                        <!-- Other inputs -->
                                        <input ng-switch-default type="{{field.type}}" class="form-control" id="{{field.name}}" ng-trim="{{field.trim}}" ng-value="{{field.value}}" maxlength="{{field.maxlength}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function() {
        $("[name='boolean-checkbox']").bootstrapSwitch({onText: 'Yes', offText: 'No'});
    });
</script>
</html>